@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient__bg {
  background-image: linear-gradient(
    to right bottom,
    #002853,
    #032243,
    #061b34,
    #081526,
    #040c18
  );
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
